@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap') @tailwind base;

.absolute{
  position: absolute;
}

.relative{
  position: relative;
}

.top-0{
  top: 0px;
}

.z-50{
  z-index: 50;
}

.mb-6{
  margin-bottom: 1.5rem;
}

.flex{
  display: flex;
}

.hidden{
  display: none;
}

.w-full{
  width: 100%;
}

.items-center{
  align-items: center;
}

.justify-between{
  justify-content: space-between;
}

.bg-gray-100{
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}

.p-5{
  padding: 1.25rem;
}

.px-5{
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.py-20{
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.text-center{
  text-align: center;
}

.text-3xl{
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.text-slate-800{
  --tw-text-opacity: 1;
  color: rgb(30 41 59 / var(--tw-text-opacity));
}

img {
  max-width: 100%;
}

body {
  font-family: "Public Sans", sans-serif;
  /* font-size: 16px; */
  /*   background-color: hsl(0,0%,98%) */
}

h2{
  @applytxt-slate-800 text-2xl

}

p{
  margin-bottom: 2rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  line-height: 1.625;
  --tw-text-opacity: 1;
  color: rgb(15 23 42 / var(--tw-text-opacity));
  opacity: 0.75;
}

@media (min-width: 1024px){
  p{
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 1024px){
  .lg\:block{
    display: block;
  }
}